<div class="container">
    <div class="ui-g">

        <form autocomplete="off" (ngSubmit)="pesquisar()">
            <div class="ui-g-12 ui-md-12 ui-fluid">
                <label>Codigo</label>
                <input pInputText type="text" name="codigo"
                [(ngModel)]="codigo">

                <div class="ui-g-3">
                        <button pButton type="submit" label="Gerar" ></button>                        
                </div>
            </div>    
            <div class="ui-g-12 ui-md-12 ui-fluid">     
                <label>Diretor</label>
                <input pInputText type="text" name="films.director"
                [(ngModel)]="films.director"> 

            </div>

            <div class="ui-g-12 ui-md-12 ui-fluid">     
                    <label>opening_crawl</label>
                    <input pInputText type="text" name="films.opening_crawl"
                    [(ngModel)]="films.opening_crawl"> 
    
            </div>
                
            <div class="ui-g-12 ui-md-12 ui-fluid">     
                        <label>producer</label>
                        <input pInputText type="text" name="films.producer"
                        [(ngModel)]="films.producer"> 
        
            </div>               
        </form>

        <div class="ui-g-12">

                <p-dataTable [value]="loadChars" [responsive]="true" 
                [paginator]="true" [rows]="10" 
                #tabela>
                        <p-column field="name" header="name"></p-column>
                        <p-column field="height" header="height"></p-column>
                        <p-column field="mass" header="mass"></p-column>
      

                </p-dataTable>
          
        </div>

  
</div>